.welcome {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-jumbotron-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.welcome-jumbotron {
  padding: 1rem 1rem 1rem 1rem;
  background: none;
}

.welcome-jumbotron h1 {
  @media (min-width: 768px) {
    letter-spacing: 0.2rem;
    margin-bottom: 0.8em;
  }
}

.welcome-jumbotron h3 {
  @media (min-width: 768px) {
    margin-bottom: 3rem;
  }
}

.intro-praying-st-image, .intro-royal-st-image {
  width: 8rem;
  margin-top: 2.5rem;
}

.intro-bird-image {
  width: 8rem;
  margin-top: 0.8rem;
}

.sel-welcome-text {
  @media (max-width: 992px) {
    margin-left: 1rem;
  }
  @media (max-width: 768px) {
    margin-left: 0rem;
  }
}

.welcome-paragraph {
  font-size: 1.3rem;
}
